<app-dev-navigation></app-dev-navigation>

<div class="text-center flex flex-col items-center">
    <button class="bg-blue-500 rounded-full p-4 shadow text-xl mt-2 font-medium text-white hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed w-[1000px]" (click)="redirectToAddCampaign()">Start New Campaign</button>
</div>

<div class="flex flex-col items-center justify-center my-4 w-full max-w-7xl mx-auto">
    <div class="flex flex-col items-center">
        @for(campaign of campaigns; track campaign)
        {
            <app-campaign class="w-full" [campaign]="campaign"></app-campaign>
        }
    </div>
</div>
