<div class="bg-[#141216] shadow my-2">
    <div class="flex flex-row justify-center items-center">
        <div class="flex">
            <div class="divider divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
            <button class="btn btn-wide m-3 text-[#ebe9ed] font-roboto font-medium" (click)="redirector('/games')">Games</button>
            <div class="divider divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
            <button class="btn btn-wide m-3 text-[#ebe9ed] font-roboto font-medium " (click)="redirector('/campaigns')">Campaigns</button>
            <div class="divider divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
            <button class="btn btn-wide m-3 text-[#ebe9ed] font-roboto font-medium" (click)="redirector('/requests')">Requests</button>
            <div class="divider divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
        </div>
    </div>
</div>