<button class="card bg-[#353347] w-[1200px] h-[70px] m-2 flex flex-row items-center cursor-default">
    <button (click)="redirector(this.request.campaignId, '/campaign/')">
        @if (request.gameCover !== "") {
        <img
        src="{{request.gameCover}}"
        lazyload
        class="rounded-lg w-auto h-[50px] ml-5" />
        }
        @if (request.gameCover === "") {
        <div class="w-auto h-[50px] rounded-lg ml-5 text-center content-center bg-black">no game cover set</div>
        }
    </button>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div (click)="redirector(this.request.campaignId, '/campaign/')" class="cursor-pointer">
        <h1>Campaign ID</h1>
        <h1 class="text-[#ebe9ed] text-ellipsis overflow-hidden whitespace-nowrap">{{request.campaignId}}</h1>
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div (click)="redirector(this.request.gameId, '/game/')" class="cursor-pointer w-[120px]">
        <h1>Game</h1>
        <h1 class="text-[#ebe9ed] text-ellipsis overflow-hidden whitespace-nowrap">{{request.gameName}}</h1>
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div>
        <h1>Platform</h1>
        <h1 class="text-[#ebe9ed]  text-ellipsis overflow-hidden whitespace-nowrap"><ng-icon name="{{request.platform | platformIcon}}"></ng-icon></h1>
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div>
        <h1>Media</h1>
        <h1 class="text-[#ebe9ed] text-ellipsis overflow-hidden whitespace-nowrap"><ng-icon name="{{request.media | mediaIcon}}"></ng-icon></h1>
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div class="w-28">
        <h1>Accept Date</h1>
        <h1 class="text-[#ebe9ed] text-ellipsis overflow-hidden whitespace-nowrap">{{request.considerationDate | date}}</h1>
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div class="text-center w-36">
        <h1>Game Key</h1>
        <div class="tooltip" data-tip="Click to copy">
            <button class="btn btn-sm btn-outline btn-info text-ellipsis max-w-36" (click)="copyToClipboard(request.key!); $event.stopPropagation()">{{request.key}}</button>
        </div>  
    </div>
    <div class="divider lg:divider-horizontal before:bg-[#23222f] after:bg-[#23222f]"></div>
    <div class="text-center flex flex-col items-center justify-center">
        <h1>Deliver Content</h1>
        <button class="btn btn-sm btn-outline btn-success px-5" (click)="openSubmit(); $event.stopPropagation()">Select Content</button>
    </div>
</button>

