<div class="flex w-full max-w-xl relative mx-auto mt-4">
    <div class="breadcrumbs text-sm py-2">
        <ul class="flex">
            <li><a href="campaigns">Home</a></li>
            <li><a href="profile/{{this.influencer?.username}}">{{this.influencer?.username}}</a></li>
            <li><a href="settings">Settings</a></li>
        </ul>
    </div>
  </div>

<div class="card w-full max-w-xl bg-[#353347] shadow-xl mx-auto mb-4">
    <div class="card-body">
        <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <h2 class="card-title text-[#ebe9ed] text-3xl text-center">Edit Profile</h2>
        <div class="form-control mb-2">
            <label class="label" for="name">
                <span class="label-text text-lg">Username</span>
            </label>
            <input type="text" id="username" placeholder="Type your username here" formControlName="username"
                class="input input-bordered bg-[#353347] border-[#ebe9ed]" [ngClass]="{
                    'input-error':
                    (editProfileForm.get('username')?.hasError('required') || editProfileForm.get('username')?.hasError('maxlength')) &&
                    editProfileForm.get('username')?.touched,
                    'input-success': editProfileForm.get('username')?.valid
                  }" />
            <label class="label">
                <span class="label-text-alt text-error">
                    @if(editProfileForm.get('username')?.hasError('required') &&
                    editProfileForm.get('username')?.touched) { Username is required. }
                    @if(editProfileForm.get('username')?.hasError('maxlength') &&
                    editProfileForm.get('username')?.touched) { Character limit reached. }
                    @if(editProfileForm.get('username')?.hasError('usernameTaken') &&
                    editProfileForm.get('username')?.touched) { Username is already taken. }
                </span>
            </label>
        </div>

        <div class="form-control mb-2">
            <label class="label" for="contactEmail">
                <span class="label-text text-lg">Contact e-mail</span>
            </label>
            <input type="email" id="contactEmail" placeholder="Enter your contact e-mail here" formControlName="contactEmail"
                class="input input-bordered bg-[#353347] border-[#ebe9ed]" [ngClass]="{
                    'input-error':
                    editProfileForm.get('contactEmail')?.hasError('email') &&
                    editProfileForm.get('contactEmail')?.touched,
                    'input-success': editProfileForm.get('contactEmail')?.valid
                  }" />
            <label class="label">
                <span class="label-text-alt text-error">
                    @if(editProfileForm.get('contactEmail')?.hasError('email') &&
                    editProfileForm.get('contactEmail')?.touched) { Enter a valid e-mail address. }
                </span>
            </label>
        </div>

        <div class="form-control mb-2">
            <label class="label" for="language">
              <span class="label-text text-lg">Your Language</span>
            </label>
            <select
              id="language"
              formControlName="language"
              class="select select-bordered w-full bg-[#353347] border-[#ebe9ed]"
            >
              <option value=""disabled>Select Language</option>
              <option value="en">English</option>
              <option value="es">Spanish</option>
              <option value="fr">French</option>
              <option value="de">German</option>
              <option value="pl">Polish</option>
              <option value="it">Italian</option>
              <option value="ru">Russian</option>
              <option value="zh">Chinese</option>
              <option value="ja">Japanese</option>
              <option value="ko">Korean</option>
            </select>
          </div>

        <div class="form-control mb-2">
            <label class="label" for="about">
                <span class="label-text text-lg">About</span>
            </label>
            <textarea id="about" placeholder="Express yourself up to 200 characters" formControlName="about"
                class="input input-bordered bg-[#353347] border-[#ebe9ed] h-48" [ngClass]="{
                    'input-error':
                    editProfileForm.get('about')?.hasError('maxlength') &&
                    editProfileForm.get('about')?.touched,
                    'input-success': editProfileForm.get('about')?.valid
                  }">
            </textarea>
            <label class="label">
                <span class="label-text-alt text-error">
                    @if(editProfileForm.get('about')?.hasError('maxlength') &&
                    editProfileForm.get('about')?.touched) { Character limit reached. }
                </span>
            </label>
        </div>
        @if (success) {
            <div class="text-center text-success m-2">Profile Successfully Updated</div>
        }
        <button type="submit"
        class="bg-blue-500 rounded-full p-4 shadow w-full text-xl font-medium text-white hover:bg-blue-700 disabled:bg-gray-600 disabled:text-black disabled:opacity-65 disabled:cursor-not-allowed"
            [disabled]="editProfileForm.invalid">
            Save Changes
        </button>
        </form>
    </div>
</div>

<div class="card w-full max-w-xl bg-[#353347] shadow-xl mx-auto mb-10">
    <div class="card-body">
        <h2 class="card-title text-[#ebe9ed] text-3xl text-center">Manage Media</h2>
        <div class="divider"></div>
        <h2 class="card-title text-[#ebe9ed] text-3xl text-center flex items-center justify-between">
            <span>Youtube</span>
            @if (this.connectedMedia?.youtube) {
                <span class="label-text text-success text-xl">Connected</span>
            } @else {
                <span class="label-text text-error text-xl">Not Connected</span>
            }
        </h2>
        @if (this.connectedMedia?.youtube) {
            <span>Connected Account: <a href="{{this.connectedMedia?.youtube?.url}}" target="_blank" class="link link-accent">{{this.connectedMedia?.youtube?.username}}</a><div class="tooltip" data-tip="Click to refresh Youtube data. You can manually refresh Youtube account every hour"><button class="btn btn-xs btn-circle ml-2 bg-[#23222f]" [disabled]="canRefresh()" (click)="onRefreshYoutube()"><ng-icon name="ionRefreshSharp"></ng-icon></button></div>
            <div class="text-xs">Last Refresh: {{this.connectedMedia?.youtube?.lastCrawlDate | date:'short'}}</div></span>
            <div class="text-center my-4">
                <div class="stats shadow bg-[#2c2a3a] text-[#ebe9ed]">
                    <div class="stat">
                        <div class="stat-title">Subscribers</div>
                        <div class="stat-value">{{ this.connectedMedia?.youtube?.subscriberCount }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Views</div>
                        <div class="stat-value">{{ this.connectedMedia?.youtube?.viewCount }}</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Average Views</div>
                        <div class="stat-value">{{ this.connectedMedia?.youtube?.averageViewCount }}</div>
                    </div>
                </div>
                <button class="mt-4 rounded-lg font-semibold relative flex h-[50px] w-full items-center justify-center overflow-hidden bg-red-800 text-white transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-red-900 before:duration-500 before:ease-out hover:bg-red-900 hover:before:h-56 hover:before:w-56" (click)="onYoutubeDisconnect()">
                    <span class="relative z-10">Disconnect Youtube Account</span>
                </button>
            </div>
        } @else {
            <app-youtube-button></app-youtube-button>
        }
        <div class="divider"></div>
        <h2 class="card-title text-[#ebe9ed] text-3xl text-center flex items-center justify-between">
            <span>Twitch</span>
            @if (this.connectedMedia?.twitch) {
                <span class="label-text text-success text-xl">Connected</span>
            } @else {
                <span class="label-text text-error text-xl">Not Connected</span>
            }
        </h2>
        @if (this.connectedMedia?.twitch) {
            <span>Connected Account: <a href="{{this.connectedMedia?.twitch?.url}}" target="_blank" class="link link-accent">{{this.connectedMedia?.twitch?.username}}</a>
                <div class="text-xs">Last Refresh: {{this.connectedMedia?.twitch?.lastCrawlDate | date:'short'}}</div></span>
                <div class="text-center my-4">
                    <div class="alert alert-info text-xs mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            class="stroke-current shrink-0 w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <div>
                            Average view count is calculated based on the data after connecting your Twitch account.
                        </div>
                    </div>
                    <div class="stats shadow bg-[#2c2a3a] text-[#ebe9ed]">
                        <div class="stat">
                            <div class="stat-title">Followers</div>
                            <div class="stat-value">{{ this.connectedMedia?.twitch?.followerCount }}</div>
                        </div>
                        <div class="stat">
                            <div class="stat-title">Average Viewers</div>
                            <div class="stat-value">{{ this.connectedMedia?.twitch?.averageViewers ?? '-' }}</div>
                        </div>
                        <div class="stat">
                            <div class="stat-title">Affiliated or Partner</div>
                            @if(this.connectedMedia?.twitch?.isAffiliateOrPartner == true) {
                                <span class="text-success text-2xl">✔</span>
                            }
                            @else {
                                <span class="text-error text-2xl">✘</span>
                            }
                        </div>
                    </div>
                    <button class="mt-4 rounded-lg font-semibold relative flex h-[50px] w-full items-center justify-center overflow-hidden bg-red-800 text-white transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-red-900 before:duration-500 before:ease-out hover:bg-red-900 hover:before:h-56 hover:before:w-56" (click)="onTwitchDisconnect()">
                        <span class="relative z-10">Disconnect Twitch Account</span>
                    </button>
                </div>
        } @else {
            <app-twitch-button class="mt-4"></app-twitch-button>
        }
        <div class="divider"></div>
        <h2 class="card-title text-[#ebe9ed] text-3xl text-center flex items-center justify-between">
            <span>Other Media</span>
            @if (this.connectedMedia?.otherMedia) {
                <span class="label-text text-success text-xl">Connected</span>
            } @else {
                <span class="label-text text-error text-xl">Not Connected</span>
            }
        </h2>
            @if (this.connectedMedia?.otherMedia) {
                <span>Connected Media: <a href="{{this.connectedMedia?.otherMedia?.url}}" target="_blank" class="link link-accent">{{this.connectedMedia?.otherMedia?.name}}</a></span>
                @if (this.connectedMedia?.otherMedia?.isVerified) {
                    <div class="text-success">This media is verified</div>
                } @else {
                    <div class="text-warning">This media is not verified</div>
                }
                <div class="text-center my-4">
                    <div class="stats shadow bg-[#2c2a3a] text-[#ebe9ed]">
                        <div class="stat">
                            <div class="stat-title">Role</div>
                            <div class="stat-value">{{this.connectedMedia?.otherMedia?.role}}</div>
                        </div>
                        <div class="stat">
                            <div class="stat-title">Medium</div>
                            <div class="stat-value">{{this.connectedMedia?.otherMedia?.medium}}</div>
                        </div>
                    </div>
                    <button class="mt-4 rounded-lg font-semibold relative flex h-[50px] w-full items-center justify-center overflow-hidden bg-red-800 text-white transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-red-900 before:duration-500 before:ease-out hover:bg-red-900 hover:before:h-56 hover:before:w-56" (click)="onOtherMediaDisconnect()">
                        <span class="relative z-10">Disconnect This {{this.connectedMedia?.otherMedia?.medium}}</span>
                    </button>
                </div>
            } @else {
                <button class="mt-4 rounded-lg font-semibold relative flex h-[50px] w-full items-center justify-center overflow-hidden bg-green-600 text-white transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-green-800 before:duration-500 before:ease-out hover:bg-green-800 hover:before:h-56 hover:before:w-56" (click)="onConnectOtherMedia()">
                    <span class="relative z-10">Connect Other Media</span>
                </button>
            }
    </div>
</div>

@if(isOtherMediaDialogVisible) {
    <app-connect-other-media-dialog [visible]="isOtherMediaDialogVisible" (close)="onConnectOtherMediaDialogCancel()" (confirm)="onConnectOtherMediaDialogSubmit($event)"></app-connect-other-media-dialog>
}