<div class="flex items-center justify-center h-max">
    <div class="max-w-max">
        <p class="flex justify-center m-5"><img src="/assets/KEIPAI_LIGHT.svg" alt="KeiPai" class="w-[500px]" /></p>
        <p class="text-white text-center mt-4 font-roboto text-lg">KeiPai is a platform that connects indie developers with influencers ready to promote their games.</p>
        <p class="text-white text-center mt-4 font-roboto text-lg">No matter if you are a developer or an influencer - register now!</p>
        <div class="mt-8">
            <h1 class="text-white text-3xl font-bold text-center">For Developers:</h1>
            <ul class="text-white text-center mt-4 font-roboto list-disc list-inside">
            <li class="mt-2">Find verified influencers</li>
            <li class="mt-2">Promote your game with ease</li>
            <li class="mt-2">Automatically distribute keys to your game</li>
            <li class="mt-2">Get your game featured on influencers' channels</li>
            <li class="mt-2">Check statistics about each influencer and content they create</li>
            </ul>
        </div>
        <div class="mt-8">
            <h1 class="text-white text-3xl font-bold text-center">For Influencers:</h1>
            <ul class="text-white text-center mt-4 font-roboto list-disc list-inside">
            <li class="mt-2">Completely automated - all you have to do is connect your channel</li>
            <li class="mt-2">Get access to free games and promote them!</li>
            <li class="mt-2">Build relations with Developers</li>
            </ul>
        </div>
    </div>
</div>
