@if(visible) {
    <div class="modal modal-open">
      <div class="modal-box bg-[#23222f] text-[#ebe9ed]">
        <h3 class="modal-top font-bold text-xl">Delete all keys for selected platform</h3>
        <h5 class="modal-top text-sm mb-2">Deleting batch of keys can be useful when keys have became compromised or revoked</h5>
        <div class="modal-content">
            <form [formGroup]="deleteKeysForm" (ngSubmit)="onConfirm()">
            <label div="form-control">
                <div class="label">
                  <span class="label-text">Platform</span>
                </div>
                <select
                  id="platform"
                  class="select bg-[#23222f] border-[#ebe9ed] w-full"
                  formControlName="platform"
                >
                  <option value="" disabled selected>Select platform</option>
                  @for(platform of platforms; track platform) {
                  <option value="{{ platform.id }}">{{ platform.name }}</option>
                  }
                </select></label
              >
              <div class="divider"></div>
              <div class="form-control">
                <label class="label cursor-pointer">
                  <span class="label-text">I understand this action is irreversible</span>
                  <input type="checkbox" class="checkbox" formControlName="confirm" id="confirm" />
                </label>
              </div>
              <div class="modal-action">
                <button class="btn" (click)="onCancel()" type="button">Cancel</button>
                <button class="btn btn-error" [disabled]="this.deleteKeysForm.invalid" type="submit">Delete</button>
              </div>
            </form>
        </div>
      </div>
    </div>
    }