@if(visible){
  @if(loading){
      <div class="modal modal-open">
          <div class="modal-box bg-[#23222f]">
              <div class="flex items-center justify-center">
                  <span class="loading loading-spinner loading-lg"></span>
              </div>
          </div>
      </div>
  } @else {
  <div class="modal modal-open">
    <div class="modal-box bg-[#23222f]">
      <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="onConfirm()">✕</button>
      </form>
      <h3 class="font-bold text-2xl text-[#ebe9ed]">{{ this.video?.video?.title }}</h3>
      <div class="flex flex-col items-left justify-start">
        <youtube-player class="my-2" [videoId]="this.video?.video?.id" [width]="450" [height]="225"
        placeholderImageQuality="high"></youtube-player>
        <span>Upload Date: <span class="text-[#ebe9ed]">{{this.video?.video?.uploadDate | date}}</span></span>
        <span>View Count: <span class="text-[#ebe9ed]">{{this.video?.video?.viewCount}}</span></span>
          <p>Description:</p>
          <p class="text-[#ebe9ed]">{{ this.video?.video?.description }}</p>
          <div class="divider"></div>
          <div class="overflow-hidden whitespace-pre-wrap">Games Metioned: 
              @for (game of video?.games; track game) {
                  <a href="game/{{game.id}}" class="badge text-[#ebe9ed] mr-1 items-center">{{game.name}}</a>
              }
              </div>
      </div>
    </div>
  </div>
  }
}